*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 600;  
}

nav{
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;;
}

/*Styling logo*/
.logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img{
  height: 9.5vh;
  width: 9.5vh;
  border-radius: 50%;
}

/*Styling Links*/

.nav-button{
  padding: 22px 11px;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
}
.nav-button:hover{
  background-color: white;
  color: black;
}


.nav-links{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  color: #f2f5f7;

}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
  color: #f2f5f7;

}


.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 12% 0 0 10%;
}
.nav-links li a:hover::before{
  width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/

@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      position: fixed;
      background: #131418;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


/* Categories Drop Down Divs */

.tabs {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  padding: 5%;
}
  .tabs label{
    padding: 0.5rem 2rem;
    margin-right: 0.2rem;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    margin-right: 0.2rem;
    cursor: pointer;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);    color: #000000;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    transition: background ease .5s;
    border-radius: 20px;
    margin-top: 0.2rem;
}  

.Menu-Items{
  left: 0;
  
}
  .Coffee{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content:center;
    align-items: center;
}

  .Card-Items{

    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}
  
  @media only screen and (max-width: 840px) {
      .Coffee{
          display: grid;
          text-align: center;
          justify-content: center;
          grid-template-columns: repeat(1, 2fr);
          justify-content:space-evenly;
          flex-wrap: wrap;
        }
        .tabs{
          width: 80vw;
        }
  }  

  .Item-Title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .Item-Desc{
    font-size: 1rem;
			margin-bottom: 10px;
			color: #555;
  }
  .img{
      width: 100%;
      background: transparent;
      border-radius: 50%;
      transition: 0.5s ease-in-out;
    }
    .img:hover{
      transform: scale(1.2);
    }
  
  .Price {
      float: right;
      display: block;
      text-align: center;
      margin-top: 10px;
      color: #555;
      font-weight: bold;
      font-size: 1.5em;
      text-shadow: none;
    }

  .tabs .tab {

    width: 100%;
    display: none;
    border-radius: 20px;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs input[type="radio"]:checked + label {
    background: linear-gradient(217deg, rgba(141, 8, 8, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(21, 128, 21, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(110, 110, 252, 0.8), rgba(6, 6, 54, 0) 70.71%);  }
  .tabs input[type="radio"]:checked + label + .tab + .Coffee {
    display: block;
  }
  .tabs input[type="radio"]:checked + label + .Coffee {
    display: block;
}
  @media (max-width: 800px) {
    .tabs{
      padding-top: 150px;

    }

    .tabs .tab,
    .tabs label {
        order: initial;
    }
    .tabs label {
      width: 100%;
      margin-left: -10px;
    }
    .Card-Items{
      margin-left: 50px;
    }

  }

/* FOOTER */
footer {

  background-color: #333;
  color: #fff;
  padding: 20px;
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 4rem;
  height: 100%;
}
.contact {
  justify-content: center;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: none;
  text-decoration: none;
  color: white;
}
footer h3{
  font-size: 40px;
}
.social-media {
  display: block;
  justify-content: center;
  margin-bottom: 30px;
}
li i{
  font-size: 50px;
}
.social-media a {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
}

.contact-info {
  text-align: center;
}
 
 .contact-info p {
   margin: 10px 0;
 }

.contact h1,h2{
  font-size: 3rem;
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .Social{ 
     display: inline-block;
     margin-right: 20px;
     font-size: 2rem;
     color: #fff;
     transition: 0.3s ease-in-out;
 }
 .Social:hover{
   transform:scale(1.2);
 }
  
 @media screen and (max-width: 768px) {
   footer {
     padding: 30px;
   }
   
    .social-media {
      margin-bottom: 20px;
    }
    
    .social-media a {
      margin-right: 10px;
    }
    .contact, .social {
      flex-basis: 50%;
      text-align: center;
    }
    .trademark {
      flex-basis: 100%;
    }
  }
